*{text-align: center;}

#PostContents {
    color: white;
}

img {
    border-radius: 50%;
  }

#img {
    border: solid .5vh !Important;
    border-radius: 100%;
    border-color: rgb(79, 79, 79) !Important;
}
